.homeBodyContainer {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
  margin-top: 1%;
}

.bannerheading {
  margin-top: 2%;
  width: 100%;
  height: 140px;
}
.bannerheading > img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.saleBanner {
  width: 100%;
  margin-top: 2%;
}
.saleBanner > img {
  width: 100%;
}

.fourFlex {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.fourFlexImgContainer {
  width: 22%;
}

/* sticky */

.homeSideSticky {
  background-color: black;
  width: 12%;
  height: 25px;
  padding-top: 0.3%;
  text-align: center;
  color: white;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: rotate(-90deg);
  position: fixed;
  right: -5.1%;
  top: 70%;
  font-size: 0.85em;
}
