.footerMainContainer {
  width: 100%;
  /* border: 1px solid red; */
  background-color: #ececec;
  padding-bottom: 1%;
}

.footerOne {
  padding-top: 1%;
  width: 100%;
}

.footerOneTop {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footerOneTopLeft {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  text-align: center;
}
.footerOneTopLeft > div {
  width: 22%;
}
.footerOneTopLeft > div > p {
  font-size: 0.85em;
}
.footerOneTopLeft > div > img {
  width: 20%;
}

.footerOneTopRight {
  width: 40%;
  padding-top: 1%;
}
.footerOneTopRight > select {
  width: 80%;
  height: 35px;
}
.footerOneTopRight > select > option {
  background-color: black;
  color: white;
}

/*  */

.footerTwo {
  display: flex;
  width: 65%;
  margin: 0 auto;
  border-top: 1px solid rgb(206, 206, 206);
  margin-top: 1%;
  padding-top: 1%;
}

.footerTwoLeft {
  width: 25%;
}

.footerTwoLeft > p {
  font-size: 0.8em;
  color: grey;
  margin-top: 2%;
}

.customerLink > p {
  margin-top: 3%;
  color: red;
}

.footerTwoCenter {
  width: 25%;

  /* border: 1px solid blue; */
}
.footerTwoCenter > h5 {
  padding-left: 2%;
}

.footerTwoCenterImg {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-top: 2%;
}
.footerTwoCenterImg > div {
  /* border: 1px solid blue; */
  width: 49%;
}
.footerTwoCenterImg > div > img {
  width: 100%;
}

.footerTwoRight {
  width: 25%;
}

.socialIconsContainer {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-top: 3%;
}
.socialIconsContainer > div {
  width: 25%;
}
.socialIconsContainer > div > img {
  width: 100%;
}

.footerTwoRightLast > p {
  font-size: 0.85em;
  color: grey;
  font-weight: bolder;
}
