.loginMainContainer {
  width: 25%;
  height: 100%;
  background-color: white;
  position: fixed;
  right: 0;
  animation: register 0.5s;
}

@keyframes register {
  0% {
    right: -400px;
  }
  100% {
    right: 0%;
  }
}

.fbGoogle {
  /* border: 1px solid red; */
  width: 25%;
  margin: 5% auto;
  display: flex;
  justify-content: space-around;
}

.fbGoogle > div {
  font-size: 2em;
  cursor: pointer;
}
